@import "../../index.scss";

.Home {
  align-items: flex-end;
  background: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 1rem;
  text-align: left;

  @media (min-width: 768px) {
    padding: 5rem 1rem;
  }
}

.spacing--2 {
  height: 2rem;
  width: 100%;
}
