@import "../../index.scss";

.background {
  align-items: center;
  display: flex;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><line x1='0' y1='0' x2='100%' y2='100%' stroke='black' stroke-width='1'/><line x1='100%' y1='0' x2='0' y2='100%' stroke='black' stroke-width='1'/></svg>")
    no-repeat;
  font-family: Arial;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
